<div id="banner" class="banner">
  <div id="bannerContent" class="banner-content">
    <h1>{{ heading }}</h1>
    <p>{{ subheading }}</p>
  </div>
  <div id="bannerPicture" class="banner-picture"></div>
  <div id="bannerSlides" class="banner-slides"></div>
</div>
