<div style="
    display: flex;
    margin: auto;
    max-width: 110em;
">
  <div style="
    display: flex;
    padding: 1em;
  ">
    {% render 'logo' %}
    <span style="
        margin-left: 1em;
      "
    >Serenity Dev</span>
  </div>
  <div style="
    display: flex;
    padding: 1em;
  ">
    {% for menu_item in menu_items %}
      <a
        href="/"
        style="
          padding: 0 1em;
        "
      >
        {{ menu_item.settings.heading }}
      </a>
    {% endfor %}
  </div>
</div>
