<div style="display: block; margin-bottom: 40px;">
<a href="#" style="display: block;">
  <h3 style="margin-bottom: 10px">{{ title }}</h3>
</a>
<h4 style="display: block; margin-top: 0; margin-bottom: 10px">Jun 2021 - Current</h4>
<h4 style="display: block; margin-top: 0; margin-bottom: 10px">Shopify Web Developer</h4>
<a href="#" style="display: block">Learn More</a>
</div>
