<!DOCTYPE html>
<html>
<head>
  <style>{% render 'global-critical-css' %}</style>
  {{ content_for_header }}
</head>
<body>
  {% section 'header' %}
  {{ content_for_layout }}
  <script defer src="{{ 'global.js' | asset_url }}"></script>
</body>
</html>
