.banner {
  background-color: #a0a19a;
  background-image: url('{{ "bright-squares_texture.png" | asset_img_url: "original" }}'); /* Texture image */
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.banner-content {
  padding: 50px 0 50px 50px;
}

.banner-picture img {
  width: 100%;
  height: auto;
}
