<div style="
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: auto;
    max-width: 110em;
">
  <div style="
    display: flex;
    justify-self: start;
    padding: 1em;
  ">
    {% render 'icons-logo' %}
    {% render 'animated-name' %}
  </div>
  <div style="
    display: flex;
    justify-self: center;
    padding: 1em;
  ">
    {% for menu_item in menu_items %}
      <a
        href="/"
        style="
          padding: 0 1em;
        "
      >
        {{ menu_item.settings.heading }}
      </a>
    {% endfor %}
  </div>
  <div style="
    display: flex;
    justify-self: end;
    padding: 1em;
  ">
    {% render 'github-icon' %}
    <div>LI</div>
  </div>
</div>
